html {
  background-color: black;
}

.home {
  display: flex;
  flex-direction: column;
  /* font-family: "Slabo 27px", serif; */
  font-family: 'Bebas Neue', cursive;

  text-align: center;
  margin: 0;
  align-items: center;
}

.bgBody {
  background: rgb(191, 190, 169);
  background: linear-gradient(
    180deg,
    rgba(191, 190, 169, 1) 0%,
    rgba(171, 155, 166, 1) 70%,
    rgba(171, 155, 166, 1) 100%
  );
  width: 100vw;
}



#japanese {
  margin-top: 0;
  font-size: 32px;
}

header {
  background: rgb(191, 190, 169);
  background: linear-gradient(
    11deg,
    rgba(191, 190, 169, 1) 64%,
    rgba(171, 155, 166, 1) 81%
  );
  justify-content: center;
  width: 100%;
}

.logo {
  border-radius: 20%;
  box-shadow: 0 0 10px 10px rgb(191, 190, 169) inset;

}

.albums {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.bandcamp {
    max-width: 700px;
    margin-top: 20px;
}

/* begin tour dates and video section */

.tourDates {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.datesBox {
  display: grid;
  grid-template-columns: auto;
  padding-left: 0px;
  margin-top: 0px;
}

.showInfo {
  list-style-type: none;
  border-bottom: 1px solid whitesmoke;
  margin: 6px;
  padding-bottom: 8px;

}

li {
    margin: 3px;
}

.date {
  font-size: 28px;
}

.location {
 font-size: 26px;
}

.venue {
  font-size: 18px;
}

.tourTitle {
  font-size: 30px;
  text-decoration: underline;
}
/* end tour dates section */

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.bandPic {
  max-width: 730px;
  max-height: 444px;
  margin-top: 20px;
  box-shadow: 6px 6px #D6DEB4;
}

.contactBox {
  background-color: rgba(37, 32, 36, 0.767);
  min-width: 444px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
  color: white;
  justify-content: space-around;
  padding-bottom: 18px;
  margin-top: 20px;
  box-shadow: 6px 6px #D6DEB4;

}

.contactBox h2 {
  padding-bottom: 0px;
  font-size: 28px;
  margin-bottom: 0px;
}

a {
  color: #D6DEB4;
}

a:hover {
  opacity: 65%;
}
